# Python Basics

## Comment in Python

In [30]:
# Single Line Comment

'''
Multi
Line
Comment
'''

'\nMulti\nLine\nComment\n'

# Identifier:
> A Python Identifier is a name used to identify a variable, function, class, module or another object
> An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters,underscores, and digits (0 to 9)
> Python is a case-sensitive programming language
> Python does not allow special characters such as @, $, and % within identifiers

## Types:
### Class
### Single Underscore (_): 
> The single underscore in Python _ is used to either make a variable different from a Python keyword such as in float_=8, or to indicate that it should be used in a private context such as in _var=8
### Double Underscore (__): __name
> The double underscore in Python "__" (called “dunder“) is used to make an instance attribute or method private that cannot be accessed from outside the class) when used as a leading dunder prefix. When used as enclosing dunder such as in "__init__", it indicates that it is a special method in Python called “magic method”

# Variables in Python:

> Variables are nothing but reserved memory locations to store values. This means that when you
create a variable you reserve some space in memory.

In [31]:
name = 'John'
age = 25
salary = 45.50
print(name)
print(type(name))
print(age)
print(type(age))
print(salary)
print(type(salary))

print(name, age, salary)

John
<class 'str'>
25
<class 'int'>
45.5
<class 'float'>
John 25 45.5

# Data Types:
 > ## Immutable Data Types: Values can't be changed
        >> ### Numeric, String, Tuples
 > ## Mutable Data Types: Values can be changed
        >> ### Lists, Dictionaries, Sets

## Python Collections (Arrays)

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Immutable Data Types:

##Numeric Data Types:
> int, float, complex

In [32]:
a = 10
b = 10.65
c = 10+6j

print(a,b,c)

10 10.65 (10+6j)

## String Data Type:
> The continuous set of characters represented within quotation is called as String.<br>
> Python allows for either pairs of single or double quotes.<br>
> Python does not support a character type, these are treated as strings of length one.

In [33]:
a = 'Hello Snakes!'
b = "Python Here"
print (a)
print (b)

Hello Snakes!
Python Here

## String Formatting
> F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.Before Python 3.6 we had to use the format() method.

In [9]:
cost = 50
itemNo = 109
text2 = "Cost of item: {} is ${}"

# without f string
print("Cost of the product is $50")

# using f string
print(f"Cost of the product is ${cost}")
text2 = f"Cost of item: {itemNo} is ${cost}"
print(text2)


# Before Python 3.6 version
text = "Cost of the product is ${}"
print(text.format(cost))


print(text2.format(itemNo, cost))

Cost of the product is $50
Cost of the product is $50
Cost of item: 109 is $50
Cost of the product is $50
Cost of item: 109 is $50

## Tuples Data Type:
>Tuples consist of a number of values separated by a comma. It is enclosed within the parenthesis. They can have different data types.

In [34]:
a = (1,8, 3.15, "Python", 'Cobra')
print(a)

(1, 8, 3.15, 'Python', 'Cobra')

# Mutable Data Types:

## Lists:
> Lists is an ordered set of data/elements or collection of data/elements enclosed within square brackets [].<br>
> List items are ordered, changeable, and allow duplicate values

In [35]:
myList = [1, 0.9, "Python", True, 'Mutable', False, 7+8]
print(myList)
print(type(myList))
print(len(myList))
print(myList[2])

[1, 0.9, 'Python', True, 'Mutable', False, 15]
<class 'list'>
7
Python

# Dictionaries:

> Dictionaries are used to store data values in key:value pairs. <br>
> A dictionary is a collection which is ordered, changeable and do not allow duplicates. <br>
> Each key is seperated from it's value by : and enclosed in curly brackets {}.

In [36]:
myDict = {
    "Language": "Python",
    "Ide": "Jupyter",
    "Year": 2024,
    "Days": ['Saturday', 'Sunday']
}

print(myDict)
print(type(myDict))
print(len(myDict))
print(myDict["Language"])
print(myDict["Days"])

{'Language': 'Python', 'Ide': 'Jupyter', 'Year': 2024, 'Days': ['Saturday', 'Sunday']}
<class 'dict'>
4
Python
['Saturday', 'Sunday']

# Sets:
> A set is an unordered collection of items. Every element is unique.<br>
> A set is created by placing all the elements inside curly brackets seperated by comma.<br>
> A set is a collection which is unordered, unchangeable*, and unindexed.

In [37]:
mySet = {"apple", "banana", "cherry", "apple"}

yourSet = {"apple", "banana", "cherry", False, True, 0, 1}

print(mySet)
print(type(mySet))

print(yourSet)
print(type(yourSet))

{'apple', 'banana', 'cherry'}
<class 'set'>
{False, True, 'apple', 'banana', 'cherry'}
<class 'set'>

# Operators
Operators are used to perform operations on variables and values.

## Arithmetic operators
    Addition:        +
    Subtraction:     -
    Multiplication:  *
    Division:        / 
    Modulus:         %   (remainder)
    Exponentiation:  **
    Floor division:  //  (rounds the result down to the nearest whole number)

In [38]:
a = 50
b = 8

# Addition
print("Addition: a + b = ", a+b)

# Subtraction
print("Subtraction: a - b = ", a-b)

# Multiplication
print("Multiplication: a * b = ", a*b)

# Division
print("Division: a / b = ", a/b)

# Modulus
print("Modulus: a % b = ", a%b)

# Exponentiation
print("Exponentiation: a ** b = ", a**b)

# Floor division
print("Floor division: a // b = ", a//b)

Addition: a + b =  58
Subtraction: a - b =  42
Multiplication: a * b =  400
Division: a / b =  6.25
Modulus: a % b =  2
Exponentiation: a ** b =  39062500000000
Floor division: a // b =  6

## Assignment Operators:
    Assigns values from right to left<br>
    =   :    x = 5
    +=  :    x += 3
    -=  :    x -= 3
    *=  :    x *= 3
    /=  :    x /= 3
    %=  :    x %= 3
    //= :    x //= 3
    **= :    x **= 3
    &=  :    x &= 3
    |=  :    x |= 3
    ^=  :    x ^= 3
    >>= :    x >>= 3
    <<= :    x <<= 3
    :=  :    print(x := 3)

In [47]:
x = 5
print("x = 5: ", x)


x += 3
print("x += 3: ", x)

x = 5
x -= 3
print("x -= 3: ", x)

x = 5
x *= 3
print("x *= 3: ", x)

x = 5
x /= 3
print("x /= 3: ", x)

x = 5
x  %= 3
print("x %= 3: ", x)

x = 5
x  //= 3
print("x //= 3: ", x)

x = 5
x   **= 3
print(" x **= 3: ",  x)

x = 5
x  &= 3
print("x &= 3", x)

x = 5
x  |= 3
print("x |= 3", x)

x = 5
x ^= 3
print("x ^= 3: ", x)

x = 5
x  >>= 3
print("x >>= 3", x)

x = 5
x <<= 3
print("x <<= 3: ", x)

x = 5 
print("print(x := 3): ", x := 3)

x = 5:  5
x += 3:  8
x -= 3:  2
x *= 3:  15
x /= 3:  1.6666666666666667
x %= 3:  2
x //= 3:  1
 x **= 3:  125
x &= 3 1
x |= 3 7
x ^= 3:  6
x >>= 3 0
x <<= 3:  40
print(x := 3):  3

## Comparison Operators

    == 	Equal
    !=	Not equal
    >	Greater than
    <	Less than
    >=	Greater than or equal to
    <=	Less than or equal to

In [48]:
x = 50
y = 100

print("== : ", x == y)
print("!= : ", x != y)
print("> : ", x > y)
print("< : ", x < y)
print(">= : ", x >= y)
print("<= : ", x <= y)

== :  False
!= :  True
> :  False
< :  True
>= :  False
<= :  True

## Logical Operators: 

Logical operators are used to combine conditional statements:

    and  	Returns True if both statements are true 	               x < 5 and  x < 10 	
    or	    Returns True if one of the statements is true	           x < 5 or x < 4	
    not	    Reverse the result, returns False if the result is true	   not(x < 5 and x < 10)

In [50]:
x = 5

print("and operator: ", x > 3 and x < 10)
print("or operator: ", x < 5 or x < 4)
print("not operator: ", not(x < 5 and x < 10))

and operator:  True
or operator:  False
not operator:  True

## Bitwise Operators:
Bitwise operators are used to compare (binary) numbers:

    &  	AND 	Sets each bit to 1 if both bits are 1 	x & y
    | 	OR 	Sets each bit to 1 if one of two bits is 1 	x | y
    ^ 	XOR 	Sets each bit to 1 if only one of two bits is 1 	x ^ y
    ~ 	NOT 	Inverts all the bits 	~x
    << 	Zero fill left shift 	Shift left by pushing zeros in from the right and let the leftmost bits fall off 	x << 2
    >> 	Signed right shift 	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off 	x >> 2

## Identity Operators:
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

    is  	Returns True if both variables are the same object 	x is y
    is not 	Returns True if both variables are not the same object 	x is not y

In [56]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is not y)
print(x != y)

True
True
False

## Membership Operators:
Membership operators are used to test if a sequence is presented in an object.

    in  	Returns True if a sequence with the specified value is present in the object 	x in y
    not in 	Returns True if a sequence with the specified value is not present in the object 	x not in y

In [57]:
x = ["apple", "banana"]

print("apple" in x)
print("pineapple" not in x)

True
True

# Conditional Statements:
Conditional statements are used to excecute a statement or group of statements when some condition is true.

## if-Else or if-elif-else Statements:

    if condition1:
        excecuteStatements1
    elif condition2:
        excecuteStatements2
    else condition3:
        excecuteStatements3

In [2]:
a = 200
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

# Loops
A Loop statements allows us to excecute a statement or a group of statements multiple times

Types of Loops:<br>
    > while<br>
    > for<br>
    > nested<br>

## while loop:

while loops are known as indefinite or conditional loops. They keep iterating until certain conditions are met.
while loop can excecute a set of statements as long as the condition is true.


while condition:<br>
        excecuteStatements<br>

In [5]:
count = 0

while(count < 10):
    print(count)
    count += 2

print('Done!!!')

0
2
4
6
8
Done!!!

## for loop:

for loop repeats a group of statements a specified number of times.


for variable in range(booleanCondition, initialValue, incrementCount):<br>
    statement1<br>
    statement2<br>
    statementn<br>

range(start, stop, step)

In [31]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

print('-'*25)

for x in "banana":
  print(x)

apple
banana
cherry
-------------------------
b
a
n
a
n
a
5
4
3
2
1
120
1
2
3
4
5
120

In [28]:
n = 10

for x in range(1, n+1, 2):
    print(x)

print('$'*50)

for x in range(n, 0, -2):
    print(x)

1
3
5
7
9
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
10
8
6
4
2

In [32]:
# Factorial

factorialOf = 5

result = 1

for n in range(factorialOf, 0, -1):
    print(n)
    result = result*n
    
print(result)

# Factorial 2

f = 5
r = 1

for m in range(1, f+1, 1):
    print(m)
    r *= m

print("Factorial of ", f, "! is", r)

5
4
3
2
1
120
1
2
3
4
5
Factorial of  5 ! is 120

## Nested Loops:

Loop inside a loop

In [33]:
count = 1

for i in range(10):
    print(str(i)*i)

    for j in range(0, i):
        count += 1

1
22
333
4444
55555
666666
7777777
88888888
999999999

## Loop Control Statements:

>break: With the break statement we can stop the loop before it has looped through all the items<br>
>continue: With the continue statement we can stop the current iteration of the loop, and continue with the next:<br>
>pass: pass is used when the statement is required syntactically but no command or code to excecute<br>

In [37]:
# break
for i in range(1, 10):
    if(i == 6):
        break
    print(i)

print('$'*50)

# continue
for i in range(1, 10):
    if(i == 6):
        continue
    print(i)

print('$'*50)

# pass

for i in range(1,5):
    print("Pass")
    pass
    
print("Passed")

1
2
3
4
5
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
1
2
3
4
5
7
8
9
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
Pass
Pass
Pass
Pass
Passed