### Python Basics ###

Comment in Python

In [6]:
# Single Line Comment

'''
Multi
Line
Comment
'''

'\nMulti\nLine\nComment\n'

Identifier:
> A Python Identifier is a name used to identify a variable, function, class, module or another object
> An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters,underscores, and digits (0 to 9)
> Python is a case-sensitive programming language
> Python does not allow special characters such as @, $, and % within identifiers

Variables in Python:

> Variables are nothing but reserved memory locations to store values. This means that when you
create a variable you reserve some space in memory.

In [25]:
name = 'John'
age = 25
salary = 45.50
print(name)
print(type(name))
print(age)
print(type(age))
print(salary)
print(type(salary))

print(name, age, salary)

John
<class 'str'>
25
<class 'int'>
45.5
<class 'float'>
John 25 45.5

Data Types:
> Immutable Data Types: Values can't be changed
    >> Numeric, String, Tuples
> Mutable Data Types: Values can be changed
    >> Lists, Dictionaries, Sets

Numeric Data Types:
> int, float, complex

In [27]:
a = 10
b = 10.65
c = 10+6j

print(a,b,c)

10 10.65 (10+6j)

String Data Type:
> The continuous set of characters represented within quotation is called as String.
> Python allows for either pairs of single or double quotes.
> Python does not support a character type, these are treated as strings of length one.

In [33]:
a = 'Hello Snakes!'
b = "Python Here"
print (a)
print (b)

Hello Snakes!
Python Here

Tuples Data Type:
> Tuples consist of a number of values separated by a comma. It is enclosed within the parenthesis.

In [37]:
a = (1,8, 3.15, "Python", 'Cobra')
print(a)

(1, 8, 3.15, 'Python', 'Cobra')